#{extends 'main.html' /} 
#{set title:'Task Preview' /}

<h2>Preview of Task "${task.title}"</h2>

<div>
	Category: ${task.categoryId}
</div>
<div>
	Title: ${task.title}
</div>
<div>
	Description: ${task.description}
</div>
<div>
	Location: ${task.location}
</div>
<div>
	Payment: ${task.payment}
</div>

<br/>
<br/>

<form action="@{TaskController.fillOut}" method="GET">
    <input type="hidden" name="task.categoryId" />
    <input type="hidden" name="task.title" />
    <input type="hidden" name="task.description" />
    <input type="hidden" name="task.location" />
    <input type="hidden" name="task.payment" />
    
	<input type="submit" value="Edit">
</form>

<form action="@{TaskController.save}" method="POST">
    <input type="hidden" name="task.categoryId" />
    <input type="hidden" name="task.title" />
    <input type="hidden" name="task.description" />
    <input type="hidden" name="task.location" />
    <input type="hidden" name="task.payment" />
    
	<input type="submit" value="Post">
</form>