#{extends 'main.html' /}
#{set title:'Post a Task' /}

<h2>Post a Task</h2>

#{form @submit(), class:'form-horizontal'}
	
	#{field 'task.categoryId'}
	<div class="control-group #{if field.error}error#{/if}">
		
		<label class="control-label" for="${field.id}">Choose a category</label>
		
		<div class="controls">
			<select id="${field.id}" name="${field.name}">
				<option value="notSelected">Please select</option>
				#{list categories, as:'c'}
					<option value="${c.categoryId}" #{if c.categoryId == task.categoryId}selected="selected" #{/if}>${c.categoryName}</option>
				#{/list}
			</select>
			<span class="help-inline">${field.error}</span>
		</div>
		 	
	</div>
	#{/field}
	
	#{field 'task.title'}
	<div class="control-group #{if field.error}error#{/if}">
		
		<label class="control-label" for="${field.id}">Give the task a name</label>
		
		<div class="controls">
			<input type="text" id="${field.id}" name="${field.name}" value="${task?.title}"/>
			<span class="help-inline">${field.error}</span>
		</div>
		
	</div>
	#{/field}
	
	#{field 'task.description'}
	<div class="control-group #{if field.error}error#{/if}">
		
		<label class="control-label" for="${field.id}">Describe the task</label> 
		
		<div class="controls">
			<textarea class="input-xlarge" id="${field.id}" name="${field.name}" rows="3">${task?.description}</textarea>
			<span class="help-inline">${field.error}</span>
		</div>
		
	</div>
	#{/field}
	
	<div class="control-group #{if field.error}error#{/if}">
		#{field 'task.location'}
	
		<label class="control-label" for="${field.id}">Where is the task located?</label>
	
		<div class="controls">
			<input type="text" id="${field.id}" name="${field.name}" value="${task?.location}"/>
			<span class="help-inline">${field.error}</span>
		</div>
		 
		#{/field}
	</div>
	
	#{field 'task.payment'}
	<div class="control-group #{if field.error}error#{/if}">
		
		<label class="control-label" for="${field.id}">What's the reward?</label>
		
		<div class="controls">
			<div class="input-append">
				<input class="span6" id="task-payment" name="${field.name}" style="text-align: right;" size="16" type="text" value="${task?.payment}"/><span class="add-on">€</span>
				<span class="help-inline">${field.error}</span>
			</div>
		</div>
		
	</div>
	#{/field}
	
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Preview your task" />
		<a class="btn" href="@{Application.index()}">Cancel</a>
	</div>
	
#{/form}