#{extends 'main.html' /} 
#{set title:'All Tasks' /}

categoryId=${categoryId}

<ul class="task-list">
	
	<a href="#">
		<li class="task">
			<h3 class="task-title">
				Pick up laundry
				<span class="task-price">30 €</span>
			</h3>
			<p class="task-location">Berlin</p>
			<p class="task-description">Please pick up my laundry this afternoon.</p>
		</li>
	</a>
	
	<a href="#">
		<li class="task">
			<h3 class="task-title">
				Pick up laundry
				<span class="task-price">30 €</span>
			</h3>
			<p class="task-location">Berlin</p>
			<p class="task-description">Please pick up my laundry this afternoon.</p>
		</li>
	</a>
	
	<a href="#">
		<li class="task">
			<h3 class="task-title">
				Pick up laundry
				<span class="task-price">30 €</span>
			</h3>
			<p class="task-location">Berlin</p>
			<p class="task-description">Please pick up my laundry this afternoon.</p>
		</li>
	</a>
	
</ul>


