#{extends 'main.html' /} 
#{set title:'Task Preview' /}

<h2>
	#{if isPreview}
    	Preview of 
	#{/if}
	
	Task "${task.title}"
</h2>

#{if justPosted}
	<div style="background-color: #A9F5A9;">
		<b>The task has been posted successfully!</b>
	</div>
#{/if}

<p>
	Category: ${task.category?.categoryName}
	<br />
	Title: ${task.title}
	<br />
	Description: ${task.description}
	<br />
	Location: ${task.location}
	<br />
	Reward: ${task.payment} $
</p>

#{if isPreview}
    <a href="@{save(task)}">Post!</a>
    <a href="@{fillOut(task)}">Edit</a>
#{/if}
#{else}
    <a href="@{fillOut}">Post another task</a>
    <a href="@{Application.index}">Back to the main page</a>
#{/else}

