#{extends 'main.html' /} 
#{set title:'Task Preview' /}

<h2 class="task-heading">${task.title} #{if isPreview}<span class="label label-warning">Preview</span>#{/if}</h2>

#{if justPosted}
<div class="alert alert-success">
	<button class="close" data-dismiss="alert">×</button>
	Your task has been posted successfully!
</div>
#{/if}

<table class="table table-task-details">
	<tr>
		<th scope="row"><i class="icon-tags"></i> Category</th>
		<td>${task.category?.categoryName}</td>
	</tr>
	<tr>
		<th scope="row"><i class="icon-comment"></i> Description</th>
		<td>${task.description}</td>
	</tr>
	<tr>
		<th scope="row"><i class="icon-map-marker"></i> Location</th>
		<td>${task.location}</td>
	</tr>
	<tr>
		<th scope="row"><i class="icon-gift"></i> Reward</th>
		<td>${task.payment}&nbsp;€</td>
	</tr>
	
	#{ifnot isPreview}
	<tr>
		<th scope="row"><i class="icon-map-marker"></i> Posted at</th>
		<td>${task.creationDateAsString}</td>
	</tr>
	#{/ifnot}
</table>

<div class="form-actions">
	#{if isPreview}
	<a class="btn btn-success" href="@{save(task)}"><i class="icon-ok-sign icon-white"></i> Post this task</a>
	<a class="btn" href="@{fillOut(task)}">Edit</a>
	#{/if}
	#{else}
	<a class="btn" href="@{fillOut}"><i class="icon-plus-sign"></i> Post another task</a>
	<a class="btn" href="@{Application.index}"><i class="icon-th-list"></i> View all tasks</a>
	#{/else}
</div>