#{extends 'main.html' /} 
#{set title:'All Tasks' /}

<div class="hero-unit">
	<table>
		<tr>
			<td class="hero-unit_row-0-0"><a href="#">Pick up laundry</a></td>
			<td class="hero-unit_row-0-1">30 &#8364;</td>
		</tr>
		<tr>
			<td class="hero-unit_row-1-0">Please pick up my laundry this
				afternoon.</td>
			<td class="hero-unit_row-1-1">Berlin</td>
		</tr>
	</table>
</div>
<div class="hero-unit">
	<table>
		<tr>
			<td class="hero-unit_row-0-0"><a href="#">Car wash</a></td>
			<td class="hero-unit_row-0-1">20 &#8364;</td>
		</tr>
		<tr>
			<td class="hero-unit_row-1-0">Take my BMW to the car wash.
				Expense of 10 &#8364; will be refunded.</td>
			<td class="hero-unit_row-1-1">Bonn</td>
		</tr>
	</table>
</div>
<div class="hero-unit">
	<table>
		<tr>
			<td class="hero-unit_row-0-0"><a href="#">Gardening work</a></td>
			<td class="hero-unit_row-0-1">50 &#8364;</td>
		</tr>
		<tr>
			<td class="hero-unit_row-1-0">Help me plant an apple tree! Bring
				old clothes and robust shoes.</td>
			<td class="hero-unit_row-1-1">Munich</td>
		</tr>
	</table>
</div>
<div class="hero-unit">
	<table>
		<tr>
			<td class="hero-unit_row-0-0"><a href="#">Buy groceries</a></td>
			<td class="hero-unit_row-0-1">15 &#8364;</td>
		</tr>
		<tr>
			<td class="hero-unit_row-1-0">Some time this week I will need
				someone to go grocery shopping for me.</td>
			<td class="hero-unit_row-1-1">Munich</td>
		</tr>
	</table>
</div>

